
  <% @repositories.first(7).each do |r| %>
    <%= render 'repositories/show', r:r %>
  <% end %>

  <div id="load_more_repositories_div" style="display: none">
    <% @repositories.drop(7).each do |r| %>
        <%= render 'repositories/show', r:r %>
    <% end %>
  </div>