<nav id="sidebar" class="sidebar nav-collapse collapse sidebar-icons">
  <ul id="side-nav" class="side-nav sidebar-icons">
    <li class="active">
      <a title="Profile" href="#profile"><i class="icon-user"></i> <span class="name">Profile</span></a>
      <a title="On the web" href="#web"><i class="icon-globe"></i> <span class="name">On the web</span></a>
      <a title="Feed Twitter" href="#feedtwitter"><i class="icon-twitter"></i> <span class="name">Feed Twitter</span></a>
      <a title="Skills" href="#skills"><i class="icon-star"></i> <span class="name">Skills</span></a>
      <a title="GitHub Projects" href="#repositories"><i class="eicon-github"></i> <span class="name">Repositories GitHub</span></a>
      <a title="Web Projects" href="#skills"><i class="eicon-network"></i> <span class="name">Web Projects</span></a>
    </li>
  </ul>
</nav>