<div class="single-widget-container error-page">
  <section class="widget transparent widget-404">
    <div class="body">
      <div class="row-fluid">
        <div class="span5">
          <h1 class="text-align-center">404</h1>
        </div>
        <div class="span7">
          <div class="description">
            <h2 style="color:white">Opps, it seems that this page does not exist here.</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>